@if (_model != null)
{
    <div class="flex flex-col items-center space-y-6">
        @foreach (var feed in _model.Items)
        {
            <div class="w-full max-w-5xl" key={feed.id}>
                <FeedItem Feed="@feed" OnFeedDeleted="HandleFeedDeleted" />
            </div>
        }
    </div>
}
else
{
    <p class="text-gray-500">No feeds available.</p>
}
