services:
  mariadb:
    image: mariadb:11
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: rootpassword
      MARIADB_USER: myuser
      MARIADB_PASSWORD: mypassword
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - backend

  iam_apiservice:
    build:
      context: ./IAMService
      dockerfile: Iam.Service/Dockerfile
    ports:
      - "5002:8081" # http
      - "5102:8080" # gRpc
    depends_on:
      - mariadb
    environment:
      - ConnectionStrings__DefaultConnection=Server=mariadb;Port=3306;Database=attrecto_iam;User=myuser;Password=mypassword;
      - ApiSettings__NotificationUrl=http://notification_service:8080
      - ApiSettings__EmailVerificationPath=https://localhost:3002/verify?token=
      - AllowedOrigins__0=http://react_frontend:80
      - AllowedOrigins__1=http://localhost:3002
      - AllowedOrigins__2=http://localhost:3003
      - AllowedOrigins__3=http://feed_apiservice:8080
    networks:
      - backend

  notification_service:
    build:
      context: ./NotificationService
      dockerfile: Notification.Service/Dockerfile
    ports:
      - "5003:8081" # http
      - "5103:8080" # gRpc 
    depends_on:
      - mariadb
    environment:
      - ConnectionStrings__DefaultConnection=Server=mariadb;Port=3306;Database=noti;User=myuser;Password=mypassword;
      - ApiSettings__IamBaseUrl=http://iam_apiservice:8080
    networks:
      - backend

  feed_apiservice:
    build:
      context: ./FeedService
      dockerfile: FeedApp.Service/Dockerfile
    ports:
      - "5001:8080"
    depends_on:
      - mariadb
      - iam_apiservice
    environment:
      - ConnectionStrings__DefaultConnection=Server=mariadb;Port=3306;Database=attrecto_feed;User=myuser;Password=mypassword;
      - ApiSettings__IamBaseUrl=http://iam_apiservice:8080
      - ApiSettings__NotificationUrl=http://notification_service:8080
      - AllowedOrigins__0=http://react_frontend:80
      - AllowedOrigins__1=http://localhost:3002
    networks:
      - backend
      
  # react_frontend:
    # build: ./WebApp/attrectoweb
    # depends_on:
      # - feed_apiservice
    # ports:
      # - "3001:80"
    # networks:
      # - backend
      
  blazor_wasm:
    build:
      context: ./BlazorWasm
      dockerfile: FeedApp.BlazorWasm/Dockerfile
    depends_on:
      - feed_apiservice
    ports:
      - "3002:80"
    environment:
      - ApiSettings__IamApiUrl=http://iam_apiservice:8080      
      - ApiSettings__FeedApiUrl=http://feed_apiservice:8080      
      - ApiSettings__NotificationUrl=http://notificaton_apiservice:8080      
    networks:
      - backend
      
  # blazor_server:
    # build:
      # context: .
      # dockerfile: AttrectoTest.BlazorServer/Dockerfile
    # depends_on:
      # - feed_apiservice
      # - iam_apiservice
    # ports:
      # - "3003:8080" 
    # environment:
      # - ConnectionStrings__DefaultConnection=Server=mariadb;Port=3306;Database=attrecto_feed;User=myuser;Password=mypassword;
      # - ApiSettings__IamBaseUrl=http://iam_apiservice:8080
    # networks:
      # - backend      
      
networks:
  backend:

volumes:
  mariadb_data:
