@page "/"
@using AttrectoTest.Web.Contracts
@using AttrectoTest.Web.Services
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<AuthorizeView>
    <Authorized>
        <p>Üdv, @context.User.Identity.Name!</p>
        <button @onclick="Logout">Kijelentkezés</button>
    </Authorized>
    <NotAuthorized>
        <p>Kérlek, <a href="/login">jelentkezz be</a>.</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    [Inject] IAuthService Auth { get; set; } = default!;

    private void Logout()
    {
        Auth.Logout();
    }
}