@page "/"
@using FeedApp.Blazor.Common.Components.Login
@using FeedApp.BlazorWasm.Components
@using Microsoft.AspNetCore.Components.Authorization

<div class="relative min-h-screen bg-gray-100">
    <AuthorizeView>
        <Authorized>
            <Notification></Notification>
            <div class="flex justify-center pt-16">
                <FeedList></FeedList>
            </div>
        </Authorized>
        <NotAuthorized>
            <RedirectToLogin />
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

}