@using AttrectoTest.Blazor.Shared.Contracts
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <div class="flex items-center gap-6">
            <span class="font-semibold text-gray-800">
                @context.User.Identity?.Name
            </span>

            <button @onclick="Logout"
                    class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition">
                Logout
            </button>
        </div>
    </Authorized>
    <NotAuthorized>
            <button
                class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition"
                @onclick="Login">
                Login
            </button>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject] IAuthManager Auth { get; set; } = default!;
    [Inject] NavigationManager NavigationManager { get; set; } = default!;

    private void Login()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void Logout()
    {
        Auth.Logout();
    }
}
