<button @onclick="ToggleLike" class="flex items-center space-x-1 text-gray-600 focus:outline-none">
    @if (IsLiked)
    {
        <i class="fa-solid fa-heart w-6 h-6 text-red-500"></i>
    }
    else
    {
        <i class="fa-regular fa-heart w-6 h-6 text-gray-400 hover:text-red-500"></i>
    }
    <span>@LikeCount</span>
</button>

